@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
$logoColor: #e0b0b0;

// app header
$color: #4c8ff4;

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    background-color: #555555;
}

.appStyle {
    width: 100vw;
    background-color: #555555;
    display: flex;
    flex-direction: column;
}
.topBarContainer {
    font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px black;
    background: #333;
    color: rgb(216, 216, 216);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    margin-bottom: 10px;
    height: 10vh;
    h1 {
        font-size: 1em;
    }
}

.timeContainerBlink {
    width: 100%;
    margin: auto;
    text-align: center;
    @keyframes blink {
        50% {
            opacity: 0;
        }
        80% {
            opacity: 0.5;
        }
    }
    color: red;
    transition: color 0.25s ease;
    animation: blink 1s linear infinite;
}

.canvasesContainer {
    display: flex;
    background-color: #222;
    justify-content: center;
    align-items: center;
}

.tileRow {
    margin: 10px 10px;
}

.tile {
    border-radius: 5px;
    transition: background-color 0.25s ease;
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    box-shadow: 1px 1px 1px rgb(29, 3, 3);
}

.timeContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.gameBtns {
    margin: 20px 0px;
    display: flex;
    justify-content: center;

    button {
        padding-top: 10px;
        position: absolute;
        right: 0;
        top: 0;
        margin-inline-end: 5px;
        margin-block-start: 15px;
        font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 3px solid black;
        h1 {
            font-weight: 900;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 2px rgb(0, 0, 0);
            background-color: #d7d7d7;
            transform: translateY(-1px);
        }

        &:active {
            transform: scale(0.95) translateY(3px);
            box-shadow: 0px 0px 0px 0px white;
        }
    }
}

.backBtn {
    font-size: 40px;
    font-weight: 900;
    background-color: #e0b0b0;
    position: absolute;
    top: 0;
    left: 0;
    margin-block-start: 20px;
    margin-inline-start: 5px;
    padding: 0px 10px;
    width: fit-content;
    border-radius: 20px;
    border: 3px solid black;
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px rgb(0, 0, 0);
        background-color: #d7d7d7;
        transform: translateY(-1px);
        color: black;
    }

    &:active {
        transform: scale(0.95) translateY(3px);
        box-shadow: 0px 0px 0px 0px white;
    }
}

.mainMenuContainer {
    .logoContainer {
        img {
            width: 250px;
        }
    }
    font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0px 2px 3px 2px black;
    h1 {
        color: white;
        text-shadow: 3px 3px rgb(0, 0, 0);
        font-weight: 900;
        span {
            color: #e0b0b0;
        }
    }
    p {
        border-radius: 5px;
        width: 30vw;
        &:hover {
            filter: brightness(90%);
        }
        font-size: 2em;
    }
    form {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-size: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
            width: 30vw;
            min-width: 400px;
            text-align: center;
            border: none;
            border-radius: 5px;
            &:focus {
                border: none;
                outline: 4px solid $logoColor;
            }
        }
        div {
            display: flex;
            justify-content: space-between;
            gap: 50px;
        }
    }
    button {
        font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana;
        min-width: fit-content;
        padding: 10px 20px;
        margin: auto;
        width: 50%;
        font-size: 30px;
        border-radius: 20px;
        border: none;
        &:hover {
            background: linear-gradient(#e0b0b0, #e37e7e);
            color: white;
        }
    }
    .buttonDisabled {
        font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana;
        min-width: fit-content;
        padding: 10px 20px;
        margin: auto;
        width: 50%;
        font-size: 30px;
        border-radius: 20px;
        border: none;
        background-color: rgb(104, 103, 103);
        color: rgb(151, 150, 150);
        &:hover {
            background: rgb(104, 103, 103);
            color: rgb(151, 150, 150);
        }
    }
}
.waitingContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
    h2 {
        margin-top: 13px;
        display: flex; /* Add this line */
        align-items: center; /* Add this line */
        padding: 5px 10px; /* Adjust padding as needed */
    }
    p {
        background: rgb(180, 255, 205);
        color: green;
        &:hover {
            filter: brightness(100%);
            background: rgb(180, 255, 205);
            color: green;
        }
    }
}
// TODO: check screens sizes
// TODO: fix position and containers
// TODO: leaderboards
// TODO: confetti
// TODO: flags
// TODO: invite link page mobile fix
.loadingAnimation {
    position: absolute;
    left: 0;
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e0b0b0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// dropdown
.dropdown {
    font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: inline-block;
}

.dropdownToggle {
    background-color: #f5f5f5;
    color: #333;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdownMenu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dropdownMenu li {
    border-radius: 10px;
    padding: 5px 0px;
    cursor: pointer;
    list-style: none;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.3s;
    box-shadow: 1px 1px 1px 1px black;
    width: 100%;
    font-size: 30px;
}

.dropdownMenu li:hover {
    background: linear-gradient(#e0b0b0, #e37e7e);
    color: white;
}

@media (max-width: 2000px) {
    .mainMenuContainer {
        .dropdownMenu{
            li{
                width: 100%;
                font-size: 20px
            }
            li{
                &:last-child{
                    font-size: 17px;
                }
            }            
        }
    }
}

// media queries
@media (max-width: 1300px) {
    .mainMenuContainer {
        background-color: #fff;
        width: 100px;
        width: 100%;
        button {
            width: 30vw;
        }
        .dropdownMenu {
            li {
                font-size: 17px;
                &:last-child{
                    font-size: 15px;
                }
            }
        }
    }
    .loadingAnimation {
        margin-left: 50px;
    }

    .topBarContainer {
        height: 11vh;
        width: 100%;
        div {
            font-size: 35px;
        }
        h1 {
            font-size: 20px;
        }
    }
    .tile {
        width: 10px;
    }

    .backBtn {
        font-weight: 900;
        font-size: 30px;
        margin: 15px 5px;
    }
    .dropdownMenu {
        gap: 15px;
    }

    .dropdownMenu li {
        font-size: 17px;
        padding: 10px 0px;
    }
    .gameBtns {
        button {
            padding-top: 10px;
            position: absolute;
            right: 0;
            top: 0;
            margin-inline-end: 5px;
            margin-block-start: 15px;
            h1 {
                font-size: 25px;
                font-weight: 900;
            }
        }
    }
}

.pictureContainer {
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.gameContainer {
    display: grid;
}

@media (max-width: 1050px) {
    .gameContainer {
        .pictureContainer {
            margin: 0px;
            justify-content: center;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 5px;
            gap: 44px;
            padding: 5px;
            flex-direction: row-reverse;
        }
    }
    .topBarContainer {
        font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana,
            sans-serif;
        text-shadow: 5px 5px 5px black;
        background: #333;
        color: rgb(216, 216, 216);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2em;
        font-weight: bold;
        box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    }

    .canvasesContainer {
        display: flex;
        background-color: #222;
        justify-content: center;
        align-items: center;
    }

    .tile {
        border-radius: 5px;
        transition: background-color 0.25s ease;
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
        box-shadow: 1px 1px 1px rgb(29, 3, 3);
    }

    .timeContainer {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .gameBtns {
        button {
            padding-top: 10px;
            position: absolute;
            right: 0;
            top: 0;
            margin: 10px 5px;
            width: 100px;
            height: 60px;
            h1 {
                font-size: 19px;
                font-weight: 900;
            }
        }
    }

    .mainMenuContainer {
        .logoContainer {
            img {
                width: 40vw;
            }
        }
        h1 {
            font-size: 35px;
        }
        transform: translate(-50%, -65%);
        p {
            font-size: 28px;
            width: 90vw;
        }
        form {
            input {
                min-width: 0px;
                width: 90vw;
                padding: 10px;
                font-size: 20px;
            }
        }
    }
    .dropdown {
        font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana,
            sans-serif;
        position: relative;
        display: inline-block;
    }

    .dropdownToggle {
        background-color: #f5f5f5;
        color: #333;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
    }

    .backBtn {
        font-weight: 900;
        width: 100px;
        height: 60px;
        font-size: 20px;
        margin: 10px 5px;
    }
}

.rowsContainer {
    div {
        flex-wrap: nowrap;
    }
}

.modeError,
.inputError {
    outline: 5px solid lightcoral;
}
