@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
// app header
.appStyle {
    background-color: #555555;
    height: 200vh;
    display: flex;
    flex-direction: column;
}
.topBarContainer {
    font-family: 'Bruno Ace', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px black;
    background: #333;
    color: rgb(216, 216, 216);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
    margin-bottom: 15px;
}

.timeContainerBlink {
    width: 100%;
    margin: auto;
    text-align: center;
    @keyframes blink {
        50% {
            opacity: 0;
        }
        80% {
            opacity: 0.5;
        }
    }
    transition: color 0.25s ease;
    animation: blink 1s linear infinite;
}

.canvasesContainer {
    display: flex;
    background-color: #222;
    justify-content: center;
    align-items: center;
}

.tileRow {
    margin: 10px 10px;
}

.tile {
    border-radius: 5px;
    transition: background-color 0.25s ease;
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    box-shadow: 1px 1px 1px 0px rgb(48, 48, 48);
}

.timeContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.gameBtns {
    margin: 20px 0px;
    display: flex;
    justify-content: center;

    button {
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 3px solid black;
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 2px rgb(0, 0, 0);
            background-color: #d7d7d7;
            transform: translateY(-1px);
        }

        &:active {
            transform: scale(0.95) translateY(3px);
            box-shadow: 0px 0px 0px 0px white;
        }
    }
}
