.tileRow {
    margin: 10px 10px;
}

.tile {
    div {
        visibility: hidden;
    }
    border-radius: 5px;
    transition: background-color 0.25s ease;
}

.timeContainer {
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;
}

.timeContainerBlink {
    background-color: black;
    width: 100%;
    margin: auto;
    text-align: center;

    @keyframes blink {
        50% {
            opacity: 0;
        }
        80% {
            opacity: 0.5;
        }
    }
    h1 {
        transition: color 0.25s ease;
        animation: blink 1s linear infinite;
    }
}
